@font-face {
  font-family: "MerriweatherBlack";
  src        : url('./assets/fonts/Merriweather-Black.ttf');
}
@font-face {
  font-family: "LatoRegular";
  src        : url('./assets/fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: "LatoItalic";
  src        : url('./assets/fonts/Lato-Italic.ttf');
}
@font-face {
  font-family: "LatoBold";
  src        : url('./assets/fonts/Lato-Bold.ttf');
}
