.plp-modal {
  .modal-dialog {
    max-width: none;
    margin: 0;
    width: 100%;
    height: 100%;
    padding-top: 30px;

    .modal-content {
      max-width: 600px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }
}