.board-area {
	.card-item {
		background: #fff;
		margin    : 0 11px 5px 11px;
		transition: background 0.15s;
		box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.14);
		border-radius: 3px;

		.card-wrapper {
			padding: 10px 12px;

			h3 {
				font-size  : 0.875rem;
				line-height: 18px;
				font-weight: 400;
				white-space: normal;
				word-wrap  : break-word;
			}

			&:hover {
				background:$gallery;
			}
		}

		&.shadow {
			background: rgba(0,0,0, .1);
			box-shadow: 0;

			h3 {
				visibility: hidden;
			}
		}
	}
}

.dragged {
	.card-item {
		width: 264px;
	}
}