.plp-board {
	height : 100vh;
	width  : calc(100% - 240px);
	margin : 0;
	padding: 0;
  background-image: url('./assets/img/gradient-black-transparency.svg');
	background-repeat: repeat-x;
  background-position: top;

	header {
		display      : flex;
		width        : 100%;
		height       : 55px;
		padding      : 15px 30px 15px 40px;
		margin       : 0;

		h2 {
			flex     : 0;
			margin   : 0.25rem 0 0;
			padding  : 0 0 0.25rem;
			font-size: 1rem;
			color: white;

			&:hover {
				border-bottom: 1px solid lightgrey;
				cursor       : pointer;
			}
		}

		.board-name {
			flex      : 1;
			background: white;
			border    : none;
			padding   : 0 0 0 2px;
			margin    : 0.25rem 0 0;
			font-style: italic;

			&:focus {
				outline: none;
			}
		}

		.board-options {
			margin-left: auto;

			.btn-group {
				margin-left: 8px;
			}

			button {
				margin-top : -8px;
				margin-left: 8px;
			}
		}
	}

	.plp-board-content {
		width      : 100%;
		height     : calc(100% - 55px);
		margin     : 0;
		// overflow-x : scroll;
		white-space: nowrap;

		.scrollable {
			padding    : 30px 20px 30px 40px;
		}

		.track-horizontal {
			height: 8px !important;
			right: 2px;
			bottom: 2px;
			left: 2px;
			border-radius: 3px;
		}

		.thumb-horizontal {
			cursor: pointer;
			border-radius: inherit;
			background-color: rgba(0, 0, 0, 0.5);
		}
	}
}
