.plp-board-content.gridBoard-horizontal {
	.card {
		margin    : 0 0 5px;
		box-shadow: 1px 1px 0 0 rgba(0,0,0, .05);
		transition: background 0.15s;

		h3 {
			font-size  : 0.875rem;
			font-weight: 400;
			white-space: normal;
			word-wrap  : break-word;
		}

		&.dragged {
			background: rgba(0,0,0, .1);
			box-shadow: 0;

			h3 {
				visibility: hidden;
			}
		}

		&.shadow {
			transform : rotate(6deg);
			box-shadow: 1px 1px 0 0 rgba(0,0,0, .1);
		}
	}

	.card-hover:hover {
		background: rgba(255,255,255, .5);
		cursor    : pointer;
	}
}

.plp-board-content.gridBoard-vertical {
	.card {
		margin        : 0 1px;
		box-shadow    : 1px 1px 0 0 rgba(0,0,0, .05);
		transition    : background 0.15s;
		display       : inline-block;
		width         : 260px;
		vertical-align: top;

		h3 {
			font-size  : 0.875rem;
			font-weight: 400;
			white-space: normal;
			word-wrap  : break-word;
		}

		&.dragged {
			background: rgba(0,0,0, .1);
			box-shadow: 0;

			h3 {
				visibility: hidden;
			}
		}

		&.shadow {
			transform : rotate(6deg);
			box-shadow: 1px 1px 0 0 rgba(0,0,0, .1);
		}
	}

	.card-hover:hover {
		background: rgba(255,255,255, .5);
		cursor    : pointer;
	}
}
