.modal {
	display: block;
	background-color: rgba(#000, .5);

	overflow-x: hidden;
	overflow-y: auto;

	.modal-title {
		word-wrap: break-word;
	}

	.container {
		padding: 0;
	}

	button {
		margin-left: 5px;
	}

	.close {
		margin-left: 15px;
	}

	.modal-body {
		.large-card-description {
			.large-card-description__no-description {
				font-style: italic;
				color     : grey;
			}
		}

		.large-card-description-edit {
			textarea {
				width     : 100%;
				min-height: 150px;
				border    : 1px solid lightgrey;
				padding   : 5px 10px;

				&:focus {
					outline: none;
				}
			}

			.large-card-description-edit__footer {
				text-align: right;
				margin-top: 10px;

				.btn {
					margin-left: 0;
					display    : inline-block;
				}

				.save-btn {
					margin-left: 5px;
				}

				.cancel-btn {}
			}
		}
	}
}

.plp-modal-createBoard {
	.form-group {
		margin-bottom: 0;
	}

	.modal-footer {
		button {
			margin-left: 0;
		}
	}
}

.plp-modal-large-card {
	.modal-header {
		display: flex;

		.modal-title {
			width: calc(100% - 120px); // 145 + 20

			h5 {
				word-wrap: break-word;
			}

			input {
				width: 100%;
			}
		}

		.modal-options {
			width      : 100px;
			margin-left: 20px;
		}
	}
}

.input-modal-options {
	display: flex;

	.btn-save {
		margin-left: auto;
	}
}

.close-save-options {
	.btn-save {
		margin-left: 40px;
	}
}

.hover-menu {
	padding: 4px 4px 4px;
	position: absolute;
	z-index: 1;
	top: -10000px;
	left: -10000px;
	margin-top: -6px;
	opacity: 0;
	border-radius: 4px;
	transition: opacity .2s;

	.material-icons {
		  font-size: 18px;
			vertical-align: text-bottom;
			color: #aaa;
			cursor: default;
	}

	.button[data-active="true"] .material-icons {
		color: #fff;
	}
}
