body {
  background-image: url('./assets/backgrounds/stefan-kunze-18046.jpg');
  background-repeat:no-repeat;
  background-position: left top;
  background-attachment: fixed;
  background-size: cover;

  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  
  .wrapper {
    display: flex;
    padding: 0;
  }
}
