.plp-left-menu {
	background-color: white;
	height      : 100vh;
	min-width   : 245px;
	max-width   : 245px;
	padding-top : 25px;
	padding-left: 17px;
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.15);

	.plp-left-menu__logo {
		margin: 0 0 40px 4px;
	}

	.plp-boards-list {
		.is-active {
			font-weight: 600;
			cursor     : pointer;

			&:hover {
				text-decoration: underline;
			}
		}

		a {
			text-decoration: none;
			color          :black;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.card {
		background: none;
	}
}
