.plp-left-menu {
	height      : 100vh;
	min-width   : 240px;
	max-width   : 240px;
	border-right: 1px solid rgba(0,0,0, .1);
	padding-top : 30px;
	padding-left: 30px;
	color: white;

	h1 {
		text-transform: uppercase;
		font-weight   : 800;
		font-size     : 0.875rem;
		padding       : 0;
		margin        : 0 0 1rem;
	}

	.plp-boards-list {
		.is-active {
			font-weight: 600;
			cursor     : pointer;

			&:hover {
				text-decoration: underline;
			}
		}

		a {
			text-decoration: none;
			color          : white;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.card {
		background: none;
	}
}
